---
---

// Imports
@import "base";
@import "training";
@import "modal";

.video {
    margin-bottom: 20px;
}

.tooltip {
    opacity: 1;
}

table {
    width: 80%;
    margin-bottom: 30px;
}

.desc {
    margin-top: 20px;
}