@import 'constants';

.hamburger {
	border: 0;
	margin: 0;
	outline: none;

	&:hover {
		opacity: 0.8;
	}
}

.hamburger-box {
	width: 1.5rem;
	height: 1rem;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-left: 0.5rem;
}

.hamburger-inner {
	&::before,
	&::after {
		width: 1.5rem;
		height: 0.1rem;
		background-color: var(--text-secondary);
		position: absolute;
		display: block;
		content: '';
	}

	&::before {
		top: 0.2rem;
	}

	&::after {
		bottom: 0.2rem;
	}
}

.hamburger--squeeze {
	& .hamburger-inner {
		&::before,
		&::after {
			transition: all 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
	}

	&.is-active {
		& .hamburger-inner {
			&::before {
				top: 0.45rem;
				transform: rotate(45deg);
			}
			&::after {
				bottom: 0.45rem;
				transform: rotate(-45deg);
			}
		}
	}
}
