@import 'constants';
@import 'breakpoints';
@import 'Hamburger';

.navigation {
	padding-left: 30rem;
	min-height: 100vh;
	height: 100vh;
	padding-left: var(--menu-width);

	@media (--xs-down) {
		height: auto;
	}

	@media (--md-down) {
		padding-left: 0rem;
	}

	& .menu-toggle {
		padding: 0.5rem;
		position: fixed;
		z-index: 1200;
		top: 2rem;
		left: -1.5rem;
		transform-origin: 50% 0;
		letter-spacing: 0.5rem;
		color: var(--text-secondary);

		@media (--xs-down) {
			top: 1.8rem;
		}
	}
}
