.item-container {
    margin-bottom: 5rem;

    h2 {
        color: #eee;
        font-weight: 300;
        margin-top: 2rem;
        padding: 0 1rem;
    }
}

.item-list {
    .item-list-item {
        margin: 1rem 1rem;

        .ant-collapse > .ant-collapse-item > .ant-collapse-header {
            padding: 1rem;

            .item-header {
                display: flex;
                align-items: center;

                .item-icon {
                    height: 5rem;
                    margin-right: 1rem;
                }
            }

            .title {
                align-self: flex-start;
                .subtitle {
                    font-size: 1.4rem;
                    color: #999;
                }
            }
        }

        .item-attributes {
            margin-top: 1rem;
            font-size: 1.2rem;
        }

        .attribute {
            color: white;
            line-height: 1.2rem;
            margin-bottom: 0.5rem;

            .skill {
                color: aqua;
                img {
                    width: 1.1em;
                    vertical-align: middle;
                }
            }

            .element {
                width: 1.2em;
                vertical-align: sub;
            }
        }

        .item-vote {
            hr {
                margin: 2rem 0 0.8rem 0;
            }

            img {
                height: 1.8rem;
                vertical-align: sub;
                margin-right: 0.5rem;
            }

            span {
                margin-right: 1rem;
                color: #ccc;
                font-size: 1.2rem;
            }

            .item-vote-group {
                margin-right: 0.5rem;

                .ant-btn-sm {
                    height: 1.6rem;
                    margin: 0 1rem;
                    vertical-align: middle;
                }
            }
        }

        .extra {
            font-size: 1.2rem;
            color: white;

            hr {
                margin-bottom: 1.4rem;
            }

            img {
                width: 1.2em;
                margin-right: 0.5rem;
                vertical-align: middle;
            }
        }
    }
}

.item-list-container {
    display: flex;

    .item-list-single {
        width: 100%;
        @media (min-width: 992px) {
            display: none;
        }
    }

    .item-list-column {
        width: 50%;
        @media (max-width: 991px) {
            display: none;
        }
    }
}
