@import 'ItemList';
@import 'SoulshieldList';

.skill-name {
    color: aqua;
}

.item-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .item-selector {
        width: auto !important;
        cursor: pointer;

        .anticon {
            font-size: 1.6rem;
        }
    }
}

.item-selector-popover {
    .item-link {
        display: flex;
        margin: 1rem 0;
        align-items: center;
        transition: all 0.5s;
        font-size: 1.5rem;
        padding-right: 5rem;
        img {
            margin-right: 1.5rem;
            width: 4rem;
            filter: grayscale(100%) brightness(80%);
        }

        &:hover,
        &.active {
            color: deepskyblue;
            img {
                filter: grayscale(0%) brightness(100%);
            }
        }
    }
}

.item-menu-popover {
    display: flex;
    flex-direction: column;
    .item-menu-item {
        margin: 0.5rem 0;
        font-size: 1.6rem;
        padding-right: 2rem;

        &.sub {
            font-size: 1.4rem;
        }

        &.active {
            color: white;
        }
    }
}

.item-header-menu {
    .item-menu-item {
        margin-left: 2rem;
        padding: 1.5rem 0.5rem;

        &.active {
            color: deepskyblue;
        }

        &.sub {
            font-size: 1.4rem;
            margin-left: 1.5rem;
        }
    }

    @media (max-width: 991px) {
        display: flex;
        flex-direction: column;

        .item-menu-item {
            margin: 0.5rem 0;
            font-size: 1.6rem;
            padding: 0.2rem;
            padding-right: 2rem;

            &.sub {
                font-size: 1.4rem;
                margin-left: 0.5rem;
                margin-top: 0;
            }
        }
    }
}

.item-filters {
    .searchGroup {
        margin-top: 0.5rem;
        flex: 1;
        min-width: 20rem;

        .search {
            margin-bottom: 1rem;
        }
    }

    .class-filters {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 2rem;

        .class-filter {
            color:white;
            margin-right: 1rem;

            img {
                width: 2rem;
            }
        }

        @media (max-width: 991px) {
            margin-left: 0;
        }
    }
}

.item-patch-menu {
    .changelog {
        margin-top: 1rem;

        .patch-item {
            display: flex;
            margin: 0.5rem 0;
            align-items: center;
            user-select: none;
            font-size: 1.2rem;

            .item-icon {
                width: 1.8rem;
                height: 1.8rem;
                margin-right: 0.5rem;
            }

            small {
                color: #aaa;
            }

            &.removed {
                .skill-name {
                    color: #aaa;
                    text-decoration: line-through;
                }
            }

            .removed-text {
                color: red;
                margin-left: 0.5rem;
                font-size: 1.2rem;
            }

            .added-text {
                color: lime;
                margin-left: 0.5rem;
                font-size: 1.2rem;
            }
        }

        .no-change {
            padding: 0.8rem;
            color: #aaa;
            text-align: center;
        }
    }
}
