.ad
    script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2048637692232915" data-ad-slot="9888022383" data-ad-format="auto")
    script (adsbygoogle = window.adsbygoogle || []).push({});