@import 'breakpoints';

.character {
	& .character-info {
		margin-top: 2rem;
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: 1fr 1fr 2fr;
		align-items: start;

		@media (--lg-down) {
			grid-template-columns: 1fr 1fr;

			& .equipment {
				grid-column: 1 / 3;
				order: 1;
			}

			& .stats {
				order: 2;
			}
		}

		@media (--xs-down) {
			grid-template-columns: 1fr;

			& .equipment {
				grid-column: 1 / 2;
			}
		}

		& > div {
			min-width: 0;
		}
	}

	& .character-skills {
		margin-top: 2rem;
		padding: 2.5rem 2rem;

		& h1 {
			font-weight: 300;
			margin-bottom: 1.5rem;
		}
	}
}
