.market-popular-item-list {
    display: flex;
    flex-wrap: wrap;

    .market-popular-item-list-item {
        width: calc(25% - 1rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 2rem;
        background: rgba(0, 5, 5, 0.7);
        margin: 0.5rem;
        transition: all 0.3s;

        &:hover {
            background: rgba(30, 35, 35, 0.7);
        }

        @media (max-width: 767px) {
            width: calc(50% - 1rem);
        }

        .item-desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            p {
                margin: 0.5rem 0;
            }

            .item-price {
                display: flex;
                flex-direction: column;
                align-items: center;

                .price {
                    margin: 0;
                }
            }
        }
    }

    .market-popular-unavailable {
        margin: 10rem auto;
        color: #999;
    }
}
