@import 'MarketSearch';
@import 'MarketItemViewer';
@import 'MarketBookmarkList';
@import 'MarketPopularItemList';

.market {
    .header-title {
        width: auto;
        cursor: pointer;
    }

    .market-popular-items {
        h3 {
            font-size: 2.2rem;
            color: deepskyblue;
            margin: 0.5rem;
            margin-top: 1rem;
        }
    }
}

.item-price {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #aaa;
    white-space: nowrap;

    .price {
        margin-right: 0.5rem;
        display: flex;

        span {
            display: flex;
            align-items: center;

            img {
                margin-left: -0.2rem;
                height: 1.6em;
            }
        }
    }

    .price-diff {
        display: flex;
        font-size: 1.4rem;
        color: #aaa;

        &.up {
            color: coral;
        }

        &.down {
            color: dodgerblue;
        }

        .price {
            margin-right: 0rem;
        }

        .anticon {
            font-size: 0.8em;
            line-height: 1.8em;
            margin-right: 0.5rem;
        }

        .anticon-minus {
            margin-right: 0.5rem;
        }
    }
}
