.content {
    font-size: 1.5rem;
    color: black;
    padding: 2rem 0 5rem 0;

    div {
        max-width: 70rem;
    }

    ul {
        padding-left: 2rem;
        li {
            list-style: square;

            p {
                margin: 0;
            }
        }
    }

    p {
        margin-bottom: 2rem;
    }

    h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h4, h5 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}
