@import "common";
@import "nav";
@import "post";
@import "buildList";

.background { 
    will-change: transform;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    left: 50%;
    transform: translateX(-50%) translateY(-23%);
}

.tooltip-tree-group {
    padding: 0;
}

.highlight {
    background: rgba(0,0,0,0.25);
    width: 100%;
    height: 550px;

    @media (min-width: 1200px) {
        will-change: transform;
        transform: translateZ(0);
        position: fixed;
        height: 600px;
        margin-left: -25px;
        padding-left: 25px;
        padding-right: 25px;
    }

    @media (max-height: 850px) {
        margin: 0;
        position: relative;
    }  
    
    @media (max-width: 767px) {
        height: auto;
    }  
}

.news {
    background: rgba(0,0,0,0.5);
    height: 100%;
    padding-top: 30px;
    
    color: white;
    border-left: solid 1px rgba(184, 134, 11, 0.75);
    
    @media (max-width: 767px) {
        border-left: none;
        border-top: solid 1px rgba(184, 134, 11, 0.75);
        height: auto;
        padding-bottom: 10rem;
    }
    
    h3 {
        color: aqua;
    }
}

.front {
    @media (min-width: 1200px){
        margin-top: 600px;
        min-height: 500px;
    }
    
    @media (max-height: 850px) {
        margin-top: 0;
    }
}

.logo {
    height: 40%;
    display: block;
    margin: 0 auto;
}

.dashboard {
    display: flex;
}

.discord {
    width: 400px;
    padding: 0 25px;
    float: left;
}

.member {
    padding: 0 25px;
    flex-grow: 1;
}

.blog {
    margin-top: 0;
    padding-top: 12rem;
    padding-bottom: 10rem;
    min-height: 100rem;
    background: rgba(0,0,0,0.75);
}

.registration {
    padding-top: 2rem;
}