.character-search {
    width: 35rem;
    display: flex;

    .inputGroup {
        display: flex;
        flex: 1;

        input {
            flex: 1;
        }

        .anticon-search {
            margin: 0 1rem;
        }
    }

    .regionSelector {
        margin-right: 1rem;
    }

    &.center {
        width: 50rem;
        max-width: 100%;
        align-items: center;
        font-size: 1.8rem;
        margin: 0 auto;

        .inputGroup {
            width: 100%;
            margin: 2rem 0;
        }
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}

.character-search-recent {
    width: 50rem;
    max-width: 100%;
    margin: 0 auto;

    h4 {
        color: deepskyblue;
        margin-bottom: 0.5rem;
    }

    .recent-item {
        padding: 0.5rem 0;
        display: flex;
        align-items: center;

        .region {
            margin-right: 1rem;
            color: goldenrod;
        }
    }
}
