.character-profile {
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    position: relative;
    z-index: 0;

    .character-profile-image {
        position: relative;
        margin-bottom: 1rem;
        min-height: 12rem;

        .no-image {
            background: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 1;
            padding-bottom: 1.5rem;
        }

        img {
            width: 100%;
        }
    }

    @media (max-width: 991px) {
        display: flex;
        margin-bottom: 1rem;
        flex-wrap: wrap;

        .character-profile-image {
            width: 35%;
            max-width: 15rem;
            min-width: 10rem;
        }

        .character-profile-container {
            flex: 1;
            min-width: 20rem;
            display: flex;

            .character-profile-info {
                width: 50%;
            }

            hr {
                display: none;
            }
        }

        .character-profile-image {
            margin-right: 2rem;
        }
    }

    @media (max-width: 500px) {
        .character-profile-image {
            display: none;
        }
    }

    .main-info {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        .class-image {
            height: 5rem;
            vertical-align: bottom;
            margin-right: 1rem;
        }

        .character-name-block {
            overflow: hidden;

            p {
                margin: 0;
            }

            .character-name {
                font-size: 2.4rem;
                line-height: 2.6rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-bottom: 0.3rem;
            }

            .character-account {
                cursor: pointer;
            }
        }
    }

    .hmLevel {
        color: #f09c00;
    }

    .character-arena-info {
        h3 {
            color: white;
            font-weight: 300;
        }

        .arena-stats {
            color: deepskyblue;
        }

        .arena-type {
            margin: 1rem 0;
            h5 {
                color: white;
                font-weight: 300;
                margin-bottom: 0.5rem;
            }

            img {
                height: 5rem;
                margin-right: 1rem;
                vertical-align: top;
            }

            .arena-type-stats {
                display: inline-block;

                .rating {
                    font-size: 2rem;
                }
            }
        }
    }

    .character-achievements {
        margin: 2rem 0;

        .achievement {
            display: flex;
            font-weight: normal;
            img {
                width: 2rem;
                height: 2rem;
                margin-right: 0.8rem;
            }
        }
    }
}

.other-characters {
    .ant-popover-title {
        color: white;
        border: none;
        padding: 0 1rem;
        padding-right: 3rem;
        font-size: 1.4rem;

        strong {
            color: deepskyblue;
        }
    }

    .ant-popover-inner-content {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        padding-top: 0;
    }
}
