.character-stats-container {
    display: flex;
}

.character-stats {
    font-size: 1.4rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;

    @media (max-width: 767px) {
        padding: 0;
    }

    &.attack .mainStat {
        background: linear-gradient(to top, rgba(200, 60, 60, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }

    &.defense .mainStat {
        background: linear-gradient(to top, rgba(80, 125, 181, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .mainStat {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.8;

        p:hover {
            opacity: 1;
        }

        .mainValue {
            margin: 0;
            color: aqua;
        }

        h4 {
            color: white;
            margin-top: 1.5rem;
            font-size: 2rem;
            font-weight: 300;
        }

        hr {
            width: 90%;
            opacity: 0.5;
            margin: 1.5rem 0;
            margin-bottom: 0;
        }

        p {
            width: 100%;
            text-align: center;
            margin: 0;
            height: 4rem;
            line-height: 4rem;
            opacity: 0.75;
            cursor: pointer;
        }
    }

    .subStatsContainer {
        overflow: auto;
        flex: 1 0;
    }

    .subStats {
        border-radius: 0;
        background: none;

        .statItem {
            border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);

            &.level {
                height: 3.8rem;
                padding-left: 3.2rem;
                span {
                    line-height: 3.8rem;
                }
            }

            .stat-header {
                justify-content: space-between;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;

                .mainValue {
                    color: aqua;
                }
            }

            .ant-collapse-content-box {
                color: #ddd;
                padding: 1rem 0;

                .subHeader {
                    margin-left: 0.5rem;
                }

                .subValue {
                    padding-right: 1.5rem;
                    float: right;
                }
            }
        }
    }
}

.hmPointMenu {
    .ant-tooltip-inner {
        max-width: 35rem;
        width: 35rem;
        padding: 2rem;
    }

    h4 {
        color: white;
        margin-bottom: 1rem;
    }

    p {
        span {
            color: aqua;
        }
    }

    .mainHmStat {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        padding: 0 0.5rem;

        img {
            height: 4rem;
            margin: -0.5rem;
            margin-right: 1rem;
            opacity: 0.9;
        }

        p {
            margin: 0;
            flex: 1 0;
            font-size: 1.4rem;
            padding-right: 1rem;

            span {
                float: right;
                color: aqua;
            }
        }
    }

    hr {
        opacity: 0.5;
        border-color: rgba(255, 255, 255, 0.6) !important;
    }

    .additionalEffects {
        color: #999;
        line-height: 1.4rem;
        padding: 0 0.5rem;

        h5 {
            color: white;
            margin-bottom: 0.5rem;
        }

        td {
            padding: 1rem 0;
            font-size: 1.2rem;
        }

        th {
            font-weight: 400;
            padding-right: 1.5rem;
            text-align: center;
        }

        .active {
            th {
                color: aqua;
            }

            td {
                color: white;
            }
        }
    }
}
