@import 'CharacterSearch';
@import 'CharacterProfile';
@import 'CharacterStats';
@import 'CharacterEquips';

.character {
    .main-container {
        & > .character-search {
            margin-top: 10rem;
            margin-bottom: 10rem;
        }

        .character-content {
            padding-top: 1.5rem;
        }

        .character-not-found {
            margin: 10rem 0;
            font-size: 2.4rem;
            font-weight: 300;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .character-build-element {
            margin-bottom: 2rem;
            color: white;
            font-size: 2rem;
            img {
                margin-right: 0.5rem;
                vertical-align: middle;
                width: 2.5rem;
            }
        }

        .hotkey-bar-wrapper {
            display: none;
        }

        .like {
            display: flex;
            align-items: center;

            a,
            .anticon {
                font-size: 1.8rem;
                color: hotpink;
            }

            a:hover {
                color: pink;
            }

            .like-count {
                color: #ccc;
                font-size: 1.4rem;
                padding: 0 1rem;
            }
        }

        .character-info-small {
            display: none;
        }

        @media (max-width: 767px) {
            .character-info-large {
                display: none;
            }
            .character-info-small {
                display: block;
            }
        }
    }

    .slim-container {
        margin: 3rem auto;
    }
}
