@import 'CharacterSearch';
@import 'CharacterProfile';
@import 'CharacterStats';
@import 'CharacterEquips';

.character {
    .main-container {
        & > .character-search {
            margin-top: 10rem;
            margin-bottom: 10rem;
        }

        .character-content {
            padding-top: 3rem;
        }

        .character-not-found {
            margin: 10rem 0;
            font-size: 2.4rem;
            font-weight: 300;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .character-build-element {
            margin-bottom: 2rem;
            color: white;
            font-size: 2rem;
            img {
                margin-right: 0.5rem;
                vertical-align: middle;
                width: 2.5rem;
            }
        }

        .hotkey-bar-wrapper {
            display: none;
        }
    }

    .slim-container {
        margin: 3rem auto;
    }
}
