.translator-selector {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    .translator-selector-item {
        .ant-badge-status-text {
            color: white;
            font-size: 1.4rem;
        }
        &.active {
            .ant-badge-status-text {
                color: deepskyblue;
            }
        }
    }
}
