.translator-editor {
    padding: 1rem 0;

    h4 {
        color: deepskyblue;
        small {
            color: grey;
        }
    }

    .language-input-group {
        padding: 2rem;
        //border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
        color: white;
        background: rgba(0, 0, 0, 0.3);
        margin: 1.5rem 0;

        .language-input-header {
            display: flex;

            img {
                margin-right: 1rem;
                height: 4rem;
            }
        }

        &:last-child {
            border: none;
        }

        .language-key {
            margin-bottom: -0.2rem;
            color: #aaa;
            font-size: 1.4rem;
            .ant-badge-status-text {
                color: #aaa;
            }
        }

        .language-input {
            margin-top: 1rem;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            padding: 0.5rem 1rem;
        }

        .ssEffect {
            margin-top: 1rem;
        }

        .translator-example {
            padding: 2rem 1rem 0 0;

            h5 {
                color: goldenrod;
            }

            p {
                font-size: 1.4rem;
                color: #ccc;
            }

            .variable {
                color: greenyellow;
            }

            .name {
                color: aqua;
                img {
                    height: 1em;
                }
            }
        }
    }
}
