.translator-selector {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    .translator-selector-group {
        margin-bottom: 1rem;

        h4 {
            color: white;
            margin-bottom: 1rem;
        }

        .ant-badge-status-text {
            color: white;
            font-size: 1.4rem;
        }

        .ant-collapse-header {
            padding-left: 1rem;
        }

        .ant-collapse-content-box {
            padding: 0.5rem;
        }

        .translator-selector-item {
            white-space: nowrap;

            li {
                margin: 0.5rem 0;
            }

            .ant-badge-status-text {
                color: #ddd;
                font-size: 1.2rem;
                transition: all 0.3s;
            }

            &:hover {
                .ant-badge-status-text {
                    color: white;
                }
            }

            &.active {
                .ant-badge-status-text {
                    color: deepskyblue;
                }
            }
        }
    }
}
