.translator-status-bar {
    display: flex !important;
    margin-top: 0 !important;

    .language-code {
        align-self: center;
        color: white;
    }

    .language-toggle {
        display: flex;
        align-items: center;

        .anticon-info-circle-o {
            font-size: 1.2rem;
            cursor: pointer;
        }
    }

    .status {
        margin-right: 2rem;
        color: grey;
    }
}
