@import 'constants';

.attribute {
	display: block;
	line-height: 1.2em;
	margin-bottom: 0.2em;

	&.multiplied {
		color: lawngreen;
	}

	& .scale {
		color: var(--secondary);
	}

	& svg {
		margin: -0.4rem;
		font-size: 1.4em;
	}

	& img {
		height: 1.2em;
		width: 1.2em;
		margin-right: 0.3em;
		vertical-align: middle;

		&.element {
			margin: 0;
			margin-left: 0.3em;
		}
	}
}
