doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')

        link(rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=3")
        link(rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=3")
        link(rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=3")
        link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=3")
        link(rel="icon" type="image/png" href="/favicon-32x32.png?v=3" sizes="32x32")
        link(rel="icon" type="image/png" href="/favicon-96x96.png?v=3" sizes="96x96")
        link(rel="icon" type="image/png" href="/favicon-16x16.png?v=3" sizes="16x16")
        link(rel="manifest" href="/manifest.json?v=3")
        meta(name="msapplication-TileColor" content="#111d2b")
        meta(name="theme-color" content="#111d2b")
        meta(name="google-site-verification" content="QxLOb_4E2BvzsOqlLodjmHg8vYUhNKRAfkbGULVJHC0")
        meta(property="og:image" content="/logo.png")

        title= title
        if env
            link(rel='stylesheet' href='/css/style.css')
    body
        div(id='root')!= app
        script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Intl')
        script window.user = !{JSON.stringify(user)}
        script(type='text/javascript' src='/app/main.js')
        script(async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
