@import 'constants';
@import 'breakpoints';

.settings-dialog {
	& hr {
		margin-top: 3rem;
	}

	& .subtitle {
		margin-bottom: 1rem;
	}

	& .inputs {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;

		@media (--sm-down) {
			grid-template-columns: 1fr;
		}

		& .help-tooltip {
			height: 1em;
			width: 1em;
			margin-left: 1rem;
		}
	}
}
