<!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% if page.type != 'home' %}../{% endif %}bootstrap/js/bootstrap.min.js"></script>
    <script src="{% if page.type != 'home' %}../{% endif %}bootstrap/js/jasny-bootstrap.min.js"></script>
    <script src="{% if page.type != 'home' %}../{% endif %}extra.js"></script>
    {% if page.type != 'home' %}<script src="builds_{{ page.job }}.js"></script>{% endif %}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% if page.type != 'home' %}../{% endif %}bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'bnstree';
        var disqus_title = 'Home';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</body>

</html>