@import 'breakpoints';

.arena {
	width: 100%;
	max-width: 30rem;
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: 1fr 1fr;

	@media (--xs-down) {
		margin-top: -2rem;
	}

	& .stats {
		grid-column: 1 / 3;
	}

	& .game-mode {
		margin-top: 1rem;

		& .game-mode-container {
			display: flex;
			align-items: center;
			padding: 0.5rem;

			& .medal {
				margin-right: 1em;
				height: 3.5rem;
			}

			& .game-mode-stats {
				display: flex;
				flex-direction: column;
				white-space: nowrap;
			}
		}
	}
}
