.ant-dropdown {
    .ant-dropdown-menu {
        padding: 1rem 3rem;
        padding-left: 1rem;
        border-radius: 0.1rem;
        background: rgba(0, 0, 0, 0.6);

        .ant-dropdown-menu-item {
            & > a.active {
                color: aqua;
            }
        }

        .ant-dropdown-menu-item-selected,
        .ant-dropdown-menu-item-selected > a {
            background: none;
        }
    }
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: aqua;
    border-color: aqua;
}

.ant-tooltip {
    @media (max-width: 767px) {
        left: 0 !important;
    }

    .ant-tooltip-arrow {
        border-bottom-color: rgba(30, 30, 30, 0.9);

        @media (max-width: 767px) {
            display: none;
        }
    }

    .ant-tooltip-inner {
        background: rgba(10, 10, 10, 0.9);
        border: 0.1rem solid #111;

        hr {
            border-color: #111;
        }

        @media (max-width: 767px) {
            max-width: 100% !important;
            width: 100% !important;
        }
    }
}

.ant-popover {
    .ant-popover-arrow {
        border-bottom-color: rgba(30, 30, 30, 0.9) !important;
        border-top-color: rgba(30, 30, 30, 0.9) !important;

        &::after {
            border-bottom-color: #111 !important;
            border-top-color: #111 !important;
        }
    }

    .ant-popover-inner {
        background: rgba(10, 10, 10, 0.9);
        border: 0.1rem solid #111;

        hr {
            border-color: #111;
        }

        .ant-popover-message {
            color: white;
        }
    }
}

.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.ant-modal {
    .ant-modal-close {
        outline: none;
        color: white;
    }

    .ant-modal-content {
        background: rgba(50, 50, 50, 0.8);
        color: white;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;
            font-size: 1.4rem;
        }
        .ant-modal-footer,
        .ant-modal-header {
            border: none;
            background: none;
            .ant-modal-title {
                color: white;
            }
        }

        hr {
            border-color: rgba(255, 255, 255, 0.2);
            margin: 1.5rem 0;
        }
    }
}

.ant-tabs-bar {
    border-color: rgba(255, 255, 255, 0.35) !important;
    .ant-tabs-nav {
        color: #aaa;

        .ant-tabs-tab:hover {
            color: white;
        }
        .ant-tabs-tab-active {
            color: aqua !important;
        }

        .ant-tabs-ink-bar {
            background-color: aqua;
        }
    }
}

.ant-message-custom-content {
    color: #555;
}

.ant-pagination {
    display: flex;
    justify-content: center;

    .ant-pagination-item,
    li {
        border-radius: 0;
        margin: 0 0.3rem !important;
        border: none;
        background: none;
        a {
            color: white;
        }
    }

    .ant-pagination-disabled {
        display: none;
    }

    .ant-pagination-item-active {
        background-color: dodgerblue !important;
    }
}

.ant-radio-button-wrapper {
    background: none !important;
    color: white !important;

    &.ant-radio-button-wrapper-checked {
        color: dodgerblue !important;
    }

    &.ant-radio-button-wrapper-disabled {
        color: #777 !important;
    }
}
