.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    & > .loadingContainer {
        height: 100vh;
    }
    background: rgba(0, 0, 0, 0.65);

    .app-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-bottom: 20rem;
    }
}

.footer {
    background: rgba(15, 15, 15, 1);
    position: relative;
    z-index: 2;
    padding: 3rem 2rem;
    padding-top: 5rem;
    color: #777;
    font-size: 1.4rem;

    .footer-links {
        display: flex;
        margin-bottom: 2rem;
        font-size: 1.6rem;

        a {
            margin-right: 2rem;
        }
    }

    @media (max-width: 767px) {
        text-align: center;
    }
}

#root {
    background: rgb(50, 50, 50);
}

.container {
    padding: 0rem 1rem;

    @media (min-width: 1200px) {
        padding: 0rem 4rem;
    }
}

.slim-container {
    max-width: 124rem;
    margin: 0 auto;
}

.image {
    opacity: 0;
    transition: opacity 2s;
}

.image-loaded {
    opacity: 1;
}

.section-header {
    height: 6.5rem;
    margin-top: 1rem;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.35);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .header-title {
        font-size: 2.8rem;
        font-weight: 300;
        display: flex;
        align-items: center;

        span {
            display: flex;
            align-items: center;
        }

        img {
            width: 4rem;
            height: 4rem;
            margin-right: 1rem;
        }
    }

    .header-right {
        display: flex;
    }

    @media (max-width: 767px) {
        height: auto;
        padding-bottom: 1rem;

        .header-title {
            width: 100%;
        }

        .header-item {
            width: 100%;
            margin: 1rem 0;
        }
    }
}

.sub-menu {
    min-height: 4rem;
    height: auto;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    user-select: none;
    justify-content: space-between;
    font-size: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .sub-menu-left,
    .sub-menu-right {
        display: flex;
        flex-wrap: wrap;
    }

    img,
    span {
        vertical-align: middle;
    }

    .sub-menu-item {
        img {
            margin-right: 0.5rem;
        }

        &.share {
            a {
                color: deepskyblue;

                &:hover {
                    color: skyblue;
                }
            }
        }
    }

    .sub-menu-left .sub-menu-item {
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }
    }

    .sub-menu-right .sub-menu-item {
        margin-left: 1.5rem;

        &:first-child {
            margin-left: 0;
        }
    }

    .search {
        font-size: 1.5rem;
        position: relative;
        flex: 1;

        input {
            height: 100%;
            width: 100%;
            padding-top: 0.3rem;
            padding-right: 1.5rem;
            display: inline-block;

            &:not(:last-child) {
                padding-right: 2rem;
            }
        }

        .clear {
            position: absolute;
            right: 0.2rem;
            top: 35%;
            cursor: pointer;
            color: #ccc;
            transition: color 0.3s;
            font-size: 1.2rem;
        }
    }

    @media (max-width: 991px) {
        margin-top: 1rem;
        display: block;

        .sub-menu-item {
            margin-bottom: 1rem;
        }

        .sub-menu-right .sub-menu-item {
            margin-left: 0;
            margin-right: 2rem;
            margin-bottom: 0;
        }
    }
}

.side-bar {
    overflow: hidden;
}

.new {
    display: inline-block;
    color: white;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.3rem;
    font-size: 1rem;
    text-align: center;
    background: dodgerblue;
}

.listing {
    margin-bottom: 2rem;

    .no-data {
        text-align: center;
        color: #777;
    }

    .list-item {
        display: flex;
        transition: all 0.5s;
        overflow: hidden;
        width: 100%;

        &.selected,
        &:hover {
            background: rgba(0, 0, 0, 0.4);

            .list-item-title {
                color: white;
            }
        }

        .list-item-title {
            transition: all 0.5s;
            font-size: 2.2rem;
            line-height: 2.5rem;
            color: #bbb;
            font-weight: 300;
            display: flex;
            align-items: baseline;
            white-space: nowrap;
            overflow: hidden;

            .new {
                margin-left: 0.5rem;
            }
        }

        .list-item-timestamp {
            color: #999;
            font-size: 1.2rem;
        }
    }
}

.grade_0 {
    color: #999 !important;
}
.grade_1 {
    color: #6c6c6c !important;
}
.grade_2 {
    color: #3f3f3f !important;
}
.grade_3 {
    color: #008746 !important;
}
.grade_4 {
    color: #297bb0 !important;
}
.grade_5 {
    color: #a847bd !important;
}
.grade_6 {
    color: #dd9000 !important;
}
.grade_7 {
    color: #ed6900 !important;
}
.grade_8 {
    color: #6756e1 !important;
}

.adBlock {
    width: 100%;
}

.main-container {
    margin-bottom: 10rem;
}
