$face-color: #eee;
$glass: rgba(0,0,0,0.5);

body {
    scrollbar-face-color: $face-color;
    scrollbar-highlight-color: $face-color;
    scrollbar-track-color: $glass;
    scrollbar-arrow-color: $face-color;
    scrollbar-shadow-color: $face-color;
    scrollbar-dark-shadow-color: $face-color;
}


body::-webkit-scrollbar {
    width: 0.8rem;
    background-color: black;
}


* {
    &::-webkit-scrollbar {
        width: 0.8rem;
        height: 0.8rem;
        background-color: $glass;
    }
}

::-webkit-scrollbar-thumb {
    background-color: $face-color;
    border-radius: 0.4rem;
}


::-webkit-scrollbar-corner, ::-webkit-resizer {
    background-color: black;
}
