@keyframes initialize {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes initializeWithShift {
	0% {
		opacity: 0;
		transform: translateY(5rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-with-shift-enter {
	position: relative;
	transform: translateY(5rem);
	left: 0;
	width: 100%;
	opacity: 0;
}

.fade-enter {
	position: relative;
	left: 0;
	width: 100%;
	opacity: 0;
}

.fade-enter-active {
	transition: opacity ease-in-out, transform ease-in-out;
	transform: translateY(0);
	opacity: 1;
}

.fade-exit {
	position: absolute !important;
	transform: translateY(0);
	top: 0;
	left: 0;
	width: 100%;
	opacity: 1;
}

.fade-exit-active {
	transition: opacity ease-in-out;
	opacity: 0;
}
