@import url('//fonts.googleapis.com/earlyaccess/nanumgothic.css');

html {
    font-size: 10px;

    @media (max-width: 767px) {
        font-size: 9px;
    }

    @media (max-width: 350px) {
        font-size: 8px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Nanum Gothic', sans-serif;

    background: #222;
    color: #c6c6c6;
    font-size: 1.6rem;
}

a {
    color: #aaa;
    text-decoration: none !important;

    &:hover {
        color: white;
    }
}

::-webkit-input-placeholder {
    color: #9d9d9d;
}
input {
    color: white;
    background: none;
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 0.1rem solid #aaa;
    padding: 0;
    transition: all 0.3s;
    padding-left: 0.3rem;

    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        border-color: aqua;
    }
}

@import 'antd';
@import 'general';
