@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin-ext');
@import url('//fonts.googleapis.com/earlyaccess/nanumgothic.css');

html {
    font-size: 10px;

    @media(max-width: 767px) {
        font-size: 9px;
    }

    @media(max-width: 350px) {
        font-size: 8px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Nanum Gothic', sans-serif;

    background: #222;
    color: #c6c6c6;
    font-size: 1.6rem;
}

a {
    color: #aaa;
    text-decoration: none !important;

    &:hover {
        color: white;
    }
}

::-webkit-input-placeholder {
    color: #9d9d9d;
}
input {
    background: none;
    border: none;
    outline: none;
    border-bottom: 0.1rem solid #aaa;

    &:active,
    &:focus {
        border-color: aqua;
    }
}

@import 'antd';
@import 'general';
