.skill-sub-header {
    .elementToggle {
        font-size: 2rem;
        img {
            width: 2.5rem;
        }
    }
    
    .skillSearch {
        font-size: 1.5rem;
        position: relative;

        input {
            width: 100%;
            height: 100%;
            padding-top: 0.3rem;
            padding-right: 2rem;
        }

        .clear {
            visibility: hidden;
            position: absolute;
            right: 0.2rem;
            top: 1rem;
            cursor: pointer;

            &.active {
                visibility: visible;
            }
        }
    }

    .skillVisibility {
        .ant-checkbox-wrapper {
            font-size: 1.5rem;
            font-weight: 300;
        }
    }

    .sub-header-group {
        display: flex;
        align-items: center;

        @media(max-width: 767px) {
            .skillSearch {
                margin-left: 3rem !important;
                flex: 1;
            }
        }
    }
}
