.skill-option-bar {
    @media (max-width: 767px) {
        margin-top: 0.75rem;
    }

    .elementToggle {
        font-size: 2rem;
        img {
            width: 2.5rem;
        }
    }

    .skillVisibility {
        margin-left: 1.5rem;
        margin-right: 0.7rem !important;
        transition: color 0.3s;

        .ant-checkbox-wrapper {
            font-size: 1.5rem;
            font-weight: 300;
        }

        @media (max-width: 499px) {
            margin-left: 0;
        }
    }

    .filter {
        .active {
            color: deepskyblue;
        }
    }

    .sub-menu-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media (max-width: 767px) {
            &.searchGroup {
                flex: 1;
                min-width: 15rem;
            }

            .skillSearch {
                flex: 1;
            }
        }
    }
}

.skill-settings {
    .character-stats {
        tr {
            min-height: 1rem;
        }
    }

    input {
        height: 2.5rem;
    }

    .element-img {
        height: 1.4em;
        margin-right: 0.5rem;
        vertical-align: sub;
    }

    .help:hover {
        color: deepskyblue;
    }

    .switchGroup {
        height: 3rem;
    }

    p {
        line-height: 100%;
        margin: 0;
        margin-right: 2rem;
    }

    a[disabled] {
        color: #777;
    }
}

.skill-share-menu {
    .build-title,
    .share-link {
        width: 100%;
    }

    .build-title,
    .post,
    .error {
        margin-top: 1rem;
    }

    .typeSelector {
        margin: 2rem 0 1rem 0;

        p {
            display: inline-block;
            margin-right: 2rem;
        }
    }

    .error {
        color: #f04134;
    }
}
