.skill-icon-list {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    user-select: none;

    table {
        margin: 0 auto;
    }

    .top {
        height: 34rem;

        td {
            vertical-align: bottom;
        }

        .group {
            flex-direction: column;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
        }

        .grid {
            flex-direction: column-reverse;
        }
    }

    .bottom {
        height: 34rem;

        td {
            vertical-align: top;
        }

        .group {
            flex-direction: column-reverse;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        }

        .grid {
            flex-direction: column;
        }
    }

    .primary .block {
        justify-content: flex-end;
    }

    .secondaryContainer {
        display: flex;
    }

    .block {
        display: flex;
        margin: 0.5rem;
    }

    .group {
        margin: 0 0.3rem;
        display: flex;
        max-height: 34rem;
        justify-content: flex-end;
        border-radius: 0.3rem;
        @for $i from 1 through 4 {
            &.width_#{$i} {
                width: $i * 6rem + 1rem;
            }
        }
    }

    .grid {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-height: 30rem;
    }

    .groupHeader {
        margin: 0;
        padding: 1rem;
        color: white;
        text-align: center;
    }

    .skill-icon-list-item {
        cursor: pointer;
        width: 5rem;
        margin: 0.5rem;

        .skill-icon {
            width: 100%;
            margin: auto;

            img {
                width: 5rem;
            }
        }
    }
}
