.skill-build-list {
    .build-list {
        margin: 2rem 0;

        .no-data {
            text-align: center;
            color: #777;
        }

        .build-item {
            align-items: center;

            .build-type {
                height: 2rem;
                display: flex;
                align-items: center;
                color: #777;
                padding-right: 2rem;
                font-size: 1.4rem;

                img {
                    height: 100%;
                    margin-right: 0.5rem;
                }
            }

            .build-title {
                font-size: 1.8rem;
                flex: 1;
                display: flex;
                align-items: center;
            }

            .build-details {
                display: flex;
                justify-content: space-between;
                .mobile {
                    display: none;
                }
            }

            @media (max-width: 767px) {
                flex-direction: column;
                align-items: flex-start;
                padding: 1.5rem;

                .build-type {
                    margin-bottom: 1rem;
                }

                .build-title {
                    font-size: 2rem;
                }

                .list-item-timestamp {
                    display: none;

                    &.mobile {
                        display: block;
                    }
                }

                .build-details {
                    width: 100%;
                }
            }
        }
    }
}
