.home-character {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1rem;
    right: -1rem;
    overflow: hidden;
    z-index: -1;

    filter: brightness(50%);

    .character-left,
    .character-right {
        height: 100%;
        position: absolute;
        bottom: 0rem;
    }

    .character-left {
        left: -15rem;
    }

    .character-right {
        right: -15rem;
    }

    @media (min-width: 1200px) {
        filter: brightness(75%);
    }

    @media (max-width: 576px) {
        filter: brightness(30%);
        width: 140%;
    }
}
