.home-news-list-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    .home-news-list {
        flex-wrap: wrap;
        margin: 0;

        .news-item.icon {
            max-height: 25rem;
            height: 25rem;

            @media (max-width: 767px) {
                max-height: 20rem;
            }
        }
    }
}
