.home-news-list-container {
    margin-bottom: 5rem;
    padding: 0 2rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);

    .home-news-list {
        display: flex;
        margin: 0;

        .news-item {
            width: 20%;
            flex-direction: column;
            border: none;
            padding: 1rem;

            .thumb {
                width: 100%;
                filter: brightness(70%);
            }

            &:hover {
                padding: 1rem;
                background: rgba(80, 80, 80, 0.2);

                .thumb {
                    filter: brightness(100%);
                }
            }
        }

        @media (max-width: 1200px) {
            flex-wrap: wrap;
            .news-item {
                width: 25%;
            }
        }

        @media (max-width: 767px) {
            .news-item {
                width: 50%;
            }
        }
    }

    .more {
        margin: 1rem;
        float: right;
    }
}
