@import '../../Character/styles/CharacterSearch';
@import '../../Streams/styles/_StreamList.scss';

@import 'homeClassLinks';
@import 'homeNewsList';
@import 'homeCharacter';

.home {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    flex: 1;
    margin-bottom: -10rem;
    overflow: hidden;

    .character-search {
        padding-bottom: 12rem;
    }

    .home-bottom {
        flex: 1;
        background: rgba(0, 0, 0, 0.5);
        margin: 0 -1rem;

        padding-bottom: 20rem;
    }

    .home-top {
        position: relative;
    }

    h4 {
        color: #c6c6c6;
        padding: 0 1rem;
    }

    .more {
        float: right;
    }

    .ant-row {
        margin-top: 2rem;
    }

    .home-stream {
        padding: 0 0.5rem;
        padding-bottom: 5rem;

        h4 {
            padding: 0 1.5rem;
        }

        .stream-list {
            .stream-item {
                width: 50%;

                @media (max-width: 767px) {
                    width: 100%;
                }
            }

            &:after {
                display: none;
            }
        }
    }

    .slim-container > .adBlock {
        padding: 0 2rem;
    }

    .side-menu {
        padding: 3.9rem 2rem;

        .side-button {
            width: 100%;
            padding: 1rem;
            font-size: 2.4rem;
            margin-bottom: 3rem;
            height: auto;
            border-radius: 0.2rem;
            filter: brightness(85%);

            img {
                height: 5rem;
                vertical-align: middle;
            }

            span {
                vertical-align: middle;
            }

            &.discord {
                background: #7289da;
                border: none;
            }

            &:hover {
                filter: brightness(100%);
            }
        }
    }
}
