@import 'constants';
@import 'breakpoints';

.skill-action-bar {
	display: grid;
	grid-template-columns: 1fr 30vw 1fr;

	@media (--sm-down) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-auto-flow: column;
	}

	& .right-group,
	& .left-group {
		display: flex;
		align-items: center;
		flex: 1;
	}

	& .right-group {
		color: var(--text-secondary);
		justify-self: end;

		& .button {
			height: 3rem;
			width: 3rem;
			margin-right: 1rem;

			& svg {
				height: 0.8em;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	& .class-name,
	& .element-toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 0;
		padding: 0 1.4rem 0 1rem;
		margin: 0 0.5rem;

		& img {
			height: 1.5em;
			margin-right: 1rem;
		}
	}

	@media (--sm-down) {
		& .class-name img {
			margin-right: 0;
		}
	}

	& .search-container {
		padding: 0.3rem 1.8rem;
		padding-right: 1.2rem;
		background: var(--black-glass);
		border-radius: 1.5em;

		@media (--sm-down) {
			grid-row: 2;
			grid-column: 1 / 3;
			margin: 1rem -2rem -1rem;
			padding-left: 3.3rem;
			padding-right: 2rem;
			border-radius: 0;
		}

		@media (--xs-down) {
			margin-left: -1rem;
			margin-right: -1rem;
			padding-left: 2.3rem;
			padding-right: 1rem;
		}

		& .search {
			font-size: 1.6rem;
			width: 100%;
		}

		& .clear {
			color: var(--text-secondary);
		}

		& .clear,
		& .filter {
			height: 2.6rem;
			width: 2.6rem;
			align-self: center;
			padding: 0;

			& svg {
				height: 0.6em;
			}
		}
	}
}

.menu-class-name {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem;
	font-size: 1.4rem;

	& img {
		height: 1.5em;
		margin-right: 1rem;
	}
}
