@import 'AdminNewsList';

.admin {
    .main-container {
        padding-top: 2rem;
    }
}

.admin-side-menu {
    .flush-cache {
        width: 100%;
    }

    .admin-side-menu-item {
        margin: 0.5rem 0;

        &.active a {
            color: deepskyblue;
        }
    }
}
