.news-list-container {
    max-width: 120rem;
    margin: 0 auto;

    .news-list {
        margin: 2rem 0;

        .no-data {
            text-align: center;
            color: #777;
        }

        .news-item {
            .thumb-wrapper {
                margin-right: 2rem;
                width: 20%;

                img {
                    width: 100%;
                }
            }

            .news-item-content {
                flex: 1;
            }

            .news-title {
                overflow: hidden;

                .news-subtitle {
                    font-size: 1.8rem;
                    color: #999;
                }
            }

            @media (max-width: 767px) {
                .news-subtitle {
                    display: none;
                }

                .news-item-content {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }
        }
    }
}
