.news-viewer {
    padding: 2rem 0;

    .main-thumb-container {
        display: block;
        margin: 0 auto;
        max-width: 50rem;

        .main-thumb {
            width: 100%;
        }
    }

    .news-article {
        max-width: 120rem;

        .news-title {
            color: white;
        }

        .news-timestamp {
            color: #999;
        }

        & > div > img {
            margin: 0 auto;
            display: block;
            height: 25rem;
        }
    }

    .news-list-side {
        h3 {
            color: white;
            font-weight: 300;
        }

        hr {
            margin: 0.5rem 0;
        }

        .news-list-container {
            padding: 0;
        }

        .news-list-wrapper {
            margin-top: 0;

            .news-list {
                margin-top: 0;
            }
        }

        .list-item {
            height: 15rem;
        }
    }

    @media (max-width: 991px) {
        .news-list-side,
        .news-article {
            padding: 2rem 0;
        }
    }
}

.news-content {
    margin-bottom: 5rem;
    padding: 2rem 1rem;
    font-size: 1.4rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 2rem;
        color: white;
    }

    ul {
        list-style: disc;
        padding: 0 2rem;
    }

    p,
    ul {
        margin-bottom: 1rem;
    }

    strong {
        color: aqua;
        font-weight: 400;
        img {
            vertical-align: sub;
            height: 1.2em;
        }
    }

    hr {
        margin: 3rem 0;
    }

    table {
        width: 100%;
        margin-bottom: 2rem;
        td {
            border-top: 0.1rem solid #aaa;
            padding: 0.5rem;
        }
    }

    a {
        color: deepskyblue;

        &:hover {
            color: deepskyblue;
        }
    }
}
