.news-viewer {
    padding: 2rem 0;

    .main-thumb-container {
        display: block;
        margin: 0 auto;
        max-width: 50rem;

        .main-thumb {
            width: 100%;
        }
    }

    .news-article {
        max-width: 120rem;

        .news-title {
            color: white;
        }

        .news-timestamp {
            color: #999;
        }

        & > div > img {
            margin: 0 auto;
            display: block;
            height: 25rem;
        }
    }

    .news-list-side {
        h3 {
            color: white;
            font-weight: 300;
        }

        hr {
            margin: 0.5rem 0;
        }

        .news-list-container {
            padding: 0;
        }

        .news-list-wrapper {
            margin-top: 0;

            .news-list {
                margin-top: 0;
            }
        }

        .list-item {
            height: 15rem;
        }
    }

    @media (max-width: 991px) {
        .news-list-side,
        .news-article {
            padding: 2rem 0;
        }
    }
}
