@import 'constants';
@import 'dialog';

.soulshield-dialog {
	& .breakdown {
		margin-left: 1rem;
	}

	& .soulshield-stats {
		& .stat-total {
			padding: 0 1rem;
			text-align: right;
		}

		& .stat-breakdown {
			display: flex;
			align-items: center;

			& .plus {
				margin: 0 0.5rem;
			}
		}
	}

	& .set {
		display: flex;

		& .set-name {
			margin-right: 0.5rem;
		}
	}
}
