@import 'constants';

.soulshield-dialog {
	& .header {
		min-width: 30rem;
		padding-top: 2rem;
		position: relative;

		& .breakdown {
			margin-left: 1rem;
		}

		& .close-button {
			width: 3rem;
			height: 3rem;
			position: absolute;
			right: 1.6rem;
			top: 1.6rem;
			color: var(--text-secondary);
		}
	}

	& .soulshield-stats {
		& .stat-total {
			padding: 0 1rem;
			text-align: right;
		}

		& .stat-breakdown {
			display: flex;
			align-items: center;

			& .plus {
				margin: 0 0.5rem;
			}
		}
	}

	& .set {
		display: flex;

		& .set-name {
			margin-right: 0.5rem;
		}
	}
}
