.main-nav-wrapper {
    z-index: 1;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.5rem;
    padding: 0 1rem;
    position: relative;
    z-index: 3;

    .dropdown-backdrop {
        height: 0;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transition: all 0.3s;
        transition-delay: 0.2s;
        transform: translateZ(0);
        overflow: hidden;

        &.active {
            height: 24rem;
        }

        .dropdown-content {
            top: 7.5rem;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s, visibility 0.5s;
            display: flex;
            flex-direction: column;
            max-height: 15rem;
            flex-wrap: wrap;
            font-size: 1.3rem;
            transition-delay: 0.1s;

            li {
                margin: 0.4rem 0;

                a.active {
                    color: deepskyblue;
                }
            }

            &.double li {
                margin-right: 3rem;
            }

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    @media (min-width: 1200px) {
        padding: 0 4rem;
    }

    .main-nav-header {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 5;

        a,
        .main-nav-logo {
            height: 4rem;
        }
    }

    .main-nav-right {
        display: flex;
        align-items: center;
        border-top: 0.1rem solid rgba(255, 255, 255, 0.35);
        height: 5rem;
        position: relative;
        z-index: 5;

        .main-nav-menu {
            display: flex;
            margin: 0 1rem;

            .main-nav-menu-item {
                letter-spacing: 0.1rem;
                padding: 0.5rem 2rem;
                font-size: 1.5rem;

                &.dropdown-active > a {
                    color: white;
                }

                a.active {
                    color: deepskyblue;
                }
            }
        }

        .main-nav-submenu {
            display: flex;
            align-items: center;

            .main-nav-menu-item {
                padding: 0.5rem 2rem;
                font-size: 1.2rem;
                color: #888;
                margin-top: 0.5rem;

                .dropdown-content {
                    font-size: 1.2rem;
                }
            }
        }

        @media (max-width: 991px) {
            align-items: baseline;
            border-top: none;
            padding: 1rem 0;

            .main-nav-menu,
            .main-nav-submenu {
                display: none;
            }
        }
    }

    .nav-toggle {
        font-size: 2rem;
        cursor: pointer;
        color: #888;
        margin: 0 1.5rem;
        position: relative;
        z-index: 2;

        &:hover {
            color: white;
        }
        @media (min-width: 991px) {
            display: none;
        }
    }
}

.google-login > a {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 17rem;
    padding: 0.2rem;
    background: #555;
    border-radius: 0.2rem;
    color: #ccc;

    .img-wrap {
        background: white;
        height: 2.5rem;
        width: 2.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.2rem;

        img {
            height: 80%;
            vertical-align: middle;
        }
    }

    .google-text {
        flex: 1;
        text-align: center;
        font-family: 'Roboto';
        font-size: 1.2rem;
        white-space: nowrap;
        padding: 0.5rem;
    }
}

@import 'NavOverlayMenu';
@import 'Hamburger';
