.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    padding: 0 1rem;

    @media(min-width: 1200px) {
        padding: 0 4rem;
    }

    .main-nav-header {
        display: flex;
        align-items: center;
        a, .main-nav-logo {
            height: 5rem;
        }
    }

    .main-nav-right {
        display: flex;
        align-items: center;
        border-top: 0.1rem solid rgba(255, 255, 255, 0.35);
        height: 4.5rem;

        .main-nav-menu {
            margin-right: 3rem;

            .main-nav-menu-item {
                letter-spacing: 0.1rem;
                padding: 0.5rem 2rem;
            }
        }

        .main-nav-submenu {
            .main-nav-menu-item {
                padding: 0.5rem 2rem;
                font-size: 1.4rem;
                color: #888;
            }
        }
    }
}
