.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    padding: 0 1rem;

    @media (min-width: 1200px) {
        padding: 0 4rem;
    }

    .main-nav-header {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 5;

        a,
        .main-nav-logo {
            height: 5rem;
        }
    }

    .main-nav-right {
        display: flex;
        align-items: center;
        border-top: 0.1rem solid rgba(255, 255, 255, 0.35);
        height: 4.5rem;
        position: relative;
        z-index: 5;

        .main-nav-menu {
            margin-right: 2rem;

            .main-nav-menu-item {
                letter-spacing: 0.1rem;
                padding: 0.5rem 2rem;
                &.active {
                    color: aqua;
                }
            }
        }

        .main-nav-submenu {
            .main-nav-menu-item {
                padding: 0.5rem 2rem;
                font-size: 1.4rem;
                color: #888;
            }
        }

        @media (max-width: 992px) {
            align-items: baseline;
            border-top: none;
            padding: 1rem 0;

            .main-nav-menu,
            .main-nav-submenu {
                display: none;
            }
        }
    }

    .nav-toggle {
        font-size: 2rem;
        cursor: pointer;
        color: #888;
        margin: 0 1.5rem;
        position: relative;
        z-index: 2;

        &:hover {
            color: white;
        }
        @media (min-width: 992px) {
            display: none;
        }
    }
}

.google-login {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 15rem;
    padding: 0.2rem;
    background: #555;
    border-radius: 0.2rem;

    .img-wrap {
        background: white;
        height: 2.5rem;
        width: 2.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.2rem;

        img {
            height: 80%;
            vertical-align: middle;
        }
    }

    .google-text {
        flex: 1;
        text-align: center;
        font-family: 'Roboto';
        font-size: 1.2rem;
    }
}

@import 'NavOverlayMenu';
@import 'Hamburger';
