.class-menu {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;

    .class-menu-item {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 1rem;

        .active {
            color: white;
        }

        &.sub {
            font-size: 1.6rem;
        }
    }

    hr {
        margin-top: 1rem;
    }

    @media (max-width: 991px) {
        display: none;
    }
}
