.item-list-container {
    margin-bottom: 3rem;

    h2 {
        color: #eee;
        font-weight: 300;
        margin-top: 1rem;
        padding: 0 1rem;
    }
}

.item-list {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;

    .item-list-item {
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        margin: 0.5rem 1rem;
        width: calc(50% - 2rem);
        animation: fadeIn 1s ease forwards;
        opacity: 0;

        @media (max-width: 1199px) {
            width: 100%;
        }

        .ant-collapse-header {
            padding: 1rem;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            .item-header {
                display: flex;
                align-items: center;

                .item-icon {
                    height: 5rem;
                    margin-right: 1rem;
                }

                .item-votes {
                    color: #aaa;
                    font-size: 1.2rem;

                    .item-vote-element {
                        margin-right: 2rem;
                        img {
                            height: 1.4em;
                            vertical-align: sub;
                        }
                    }
                }
            }

            .arrow {
                position: relative;
                color: white;
                left: -1rem;
                transform-origin: 50% 50%;
                display: flex;
                align-items: center;
                height: 100%;
                margin-top: 0.5rem;
            }
        }

        .item-attributes {
            margin-top: 1rem;
            font-size: 1.2rem;
        }

        .attribute {
            color: white;
            line-height: 1.2rem;
            margin-bottom: 0.5rem;

            .skill {
                color: aqua;
                img {
                    width: 1.1em;
                    vertical-align: middle;
                }
            }

            .element {
                width: 1.2em;
                vertical-align: sub;
            }
        }

        .item-vote-buttons {
            hr {
                margin: 2rem 0 0.8rem 0;
            }

            img {
                height: 1.2em;
                vertical-align: middle;
                margin-right: 0.8rem;
            }

            .item-vote-button {
                margin-right: 2rem;

                .ant-btn-sm {
                    height: 1.6rem;
                }
            }
        }

        .badge-combine {
            font-size: 1.2rem;
            color: white;

            img {
                width: 1.2em;
                margin-right: 0.5rem;
                vertical-align: middle;
            }
        }

        .soulshield-pieces {
            .ant-collapse-header {
                height: 5rem;

                .arrow {
                    margin: 0;
                }
            }
        }
    }
}
