.item-list {
    .soulshield-item {
        width: 100%;

        & > .ant-collapse > .ant-collapse-item > .ant-collapse-header {
            padding: 0;
            padding-right: 1rem;

            .arrow {
                margin-top: 2rem;
            }

            .item-header {
                position: relative;
                height: 8rem;

                .item-icon {
                    padding: 1rem;
                    overflow: hidden;
                    height: 100%;

                    img {
                        height: 15rem;
                    }
                }

                .set-name {
                    color: #777;
                }
            }
        }

        .set-effects {
            .set-effect-name {
                color: goldenrod;
                margin-bottom: 0.5rem;
            }

            .set-effect {
                display: flex;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;

                .set-label {
                    width: 1.5rem;
                    height: 1.5rem;
                    line-height: 1.3rem;
                    text-align: center;
                    background: #4f4b04;
                    border: 0.1rem solid #b4b41d;
                    border-radius: 0.2rem;
                    font-size: 1.2rem;
                    margin-right: 1rem;
                }

                .attribute {
                    color: limegreen;
                }
            }
        }

        .soulshield-pieces {
            margin-top: 1.5rem;
            background: rgba(25, 25, 25, 0.6);
            .item-header {
                padding-left: 1rem;
            }

            .soulshield-piece-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }

            .soulshield-piece {
                padding: 1rem 0;
                width: 26rem;
                min-width: 25%;

                &.hidden {
                    padding: 0;
                }

                .soulshield-piece-name {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    font-size: 1.6rem;

                    img {
                        width: 5rem;
                        margin-right: 1.5rem;
                    }
                }

                .soulshield-piece-stat {
                    margin-bottom: 1rem;

                    .m1 {
                        font-size: 1.6rem;
                    }

                    .m2 {
                        font-size: 1.4rem;
                    }

                    .sub {
                        font-size: 1.2rem;
                        margin-bottom: 1rem;

                        table {
                            .stat-label {
                                width: 10rem;
                                max-width: 50%;
                            }
                        }

                        .tag {
                            margin-left: 0.5rem;
                            font-size: 0.7em;
                            padding: 0em 1em;
                            border-radius: 0.2rem;
                            font-weight: 400;
                            background: darkgoldenrod;
                        }
                    }

                    .maxFuse {
                        color: limegreen;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
