@import 'ClassMenu';
@import 'SkillSubMenu';
@import 'SkillList';
@import 'SkillIconList';
@import 'SkillTooltip';
@import 'SkillBuildList';
@import 'ItemList';
@import 'SoulshieldList';

.skills {
    .skills-content {
        margin: 0.5rem 0;
    }
}

.skill-name {
    color: aqua;
}

.class-header {
    .class-selector {
        cursor: pointer;
        span {
            display: flex;

            .anticon {
                font-size: 1.6rem;
            }
        }
    }
}

.class-selector-popover {
    width: 25rem;
    .class-link {
        display: flex;
        margin: 1rem 0;
        align-items: center;
        transition: all 0.5s;
        font-size: 1.6rem;
        img {
            margin-right: 2rem;
            filter: grayscale(100%);
        }

        &:hover,
        &.active {
            color: aqua;
            img {
                filter: grayscale(0%);
            }
        }
    }
}
