@import 'SkillSubMenu';
@import 'SkillList';
@import 'SkillIconList';
@import 'SkillTooltip';
@import 'SkillBuildList';
@import 'ItemList';
@import 'SoulshieldList';

.skill-name {
    color: aqua;
}

.class-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .class-selector {
        width: auto !important;
        cursor: pointer;

        span {
            display: flex;

            .anticon {
                font-size: 1.6rem;
            }
        }
    }

    .header-right {
        font-size: 2rem;
        padding: 0 0.5rem;

        .popover-toggle {
            padding: 0 1rem;
        }

        @media (max-width: 991px) {
            & > .class-header-menu {
                display: none;
            }
        }

        @media (min-width: 992px) {
            .popover-toggle {
                display: none;
            }
        }
    }
}

.class-selector-popover {
    .class-link {
        display: flex;
        margin: 1rem 0;
        align-items: center;
        transition: all 0.5s;
        font-size: 1.5rem;
        padding-right: 5rem;
        img {
            margin-right: 1.5rem;
            width: 4rem;
            filter: grayscale(100%) brightness(80%);
        }

        &:hover,
        &.active {
            color: deepskyblue;
            img {
                filter: grayscale(0%) brightness(100%);
            }
        }
    }
}

.class-menu-popover {
    display: flex;
    flex-direction: column;
    .class-menu-item {
        margin: 0.5rem 0;
        font-size: 1.6rem;
        padding-right: 2rem;

        &.sub {
            font-size: 1.4rem;
        }

        &.active {
            color: white;
        }
    }
}

.class-header-menu {
    .class-menu-item {
        margin-left: 3rem;

        &.active {
            color: deepskyblue;
        }

        &.sub {
            font-size: 1.4rem;
            margin-left: 1.5rem;
        }
    }

    @media (max-width: 991px) {
        display: flex;
        flex-direction: column;

        .class-menu-item {
            margin: 0.5rem 0;
            font-size: 1.8rem;
            padding-right: 3rem;

            &.sub {
                font-size: 1.4rem;
                margin-left: 0.5rem;
                margin-top: 0;
            }
        }
    }
}
