@import 'ClassMenu';
@import 'SkillSubMenu';
@import 'SkillList';
@import 'SkillIconList';
@import 'SkillTooltip';
@import 'SkillBuildList';
@import 'ItemList';
@import 'SoulshieldList';

.skills {
    .skills-content {
        margin: 0.5rem 0;
    }
}

.skill-name {
    color: aqua;
}

.class-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .class-selector {
        width: auto;
        cursor: pointer;
        span {
            display: flex;

            .anticon {
                font-size: 1.6rem;
            }
        }
    }

    .header-right {
        font-size: 2rem;
        padding: 0 1.8rem;

        @media (min-width: 992px) {
            display: none;
        }
    }
}

.class-selector-popover {
    .class-link {
        display: flex;
        margin: 1rem 0;
        align-items: center;
        transition: all 0.5s;
        font-size: 1.5rem;
        padding-right: 5rem;
        img {
            margin-right: 1.5rem;
            width: 4rem;
            filter: grayscale(100%) brightness(80%);
        }

        &:hover,
        &.active {
            color: deepskyblue;
            img {
                filter: grayscale(0%) brightness(100%);
            }
        }
    }
}

.class-menu-popover {
    display: flex;
    flex-direction: column;
    .class-menu-item {
        margin: 0.5rem 0;
        font-size: 1.6rem;
        padding-right: 2rem;

        &.sub {
            font-size: 1.4rem;
        }

        &.active {
            color: white;
        }
    }
}
