---
layout: default
---
    <div class="training-content">
        <div class="trWrap" id="trainingWrap"></div>

        <script src="../training.js"></script>
        <script src="../{{ page.job }}/category_data_{{ page.job }}.js"></script>
        <script src="../{{ page.job }}/slot_data_{{ page.job }}.js"></script>
        <script src="../{{ page.job }}/skill_data_{{ page.job }}.js"></script>
        <script src="../{{ page.job }}/data_skill-tooltip_{{ page.job }}.js"></script>
        <script src="../data_skill-tooltip-attribute.js"></script>

        <script type="text/javascript">
            var _training;

            (function ($) {
                $(document).ready(function () {
                    if (String.prototype.trim == null)
                        String.prototype.trim = function () {
                            return this.replace(/^\s*/, "").replace(/\s*$/, "");
                        }

                    _training = new nc.bns.training.Training({
                        containerSelector: ".trWrap",
                        level: 50,
                        masteryLevel: 12,
                        job: "{{ page.job }}",
                        masteryTitle: "Divine Level ",
                        maxLevel: 50
                    });

                    //reset button
                    var _$resetSkillBtn = $("#resetSkill");
                    var _$resetAllSkillBtn = $("#resetAllSkill");
                });
            })(jQuery);
        </script>
    </div>
    
    <div class="main-bg">
        <div class="container main-content">

            <h2 class="featurette-heading">Class Information.</h2>
            <h2 class="lead" style="margin-left:15px;">{{ page.fullname }}</h2>
            <div class="row featurette">
                <div class="col-md-6">
                    <div class="video embed-responsive embed-responsive-16by9">
                        <iframe id="ytplayer" class="embed-responsive-item" src="{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <table>
                        <tr>
                            <td>Difficulty</td>
                            <td>
                                <p style="font-family:hvgafix">{{ page.difficulty }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Playable Race</td>
                            <td>{{ page.race }}</td>
                        </tr>
                    </table>
                    <p class="desc">{{ content }}</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <h2 class="featurette-heading">Di'el's Builds.</h2>
            <div class="row featurette">
                <div class="col-md-12" style="margin-bottom: 25px;">
                    <p class="lead" style="margin-bottom:5px;">Example builds for most situations.</p>
                </div><br>
                <div class="tab-list col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                    {% for build in site.data.builds %}
                    {% if page.job == build.job %}
                        <li data-toggle="modal"  data-target="#applyBuild"><a href="#tab_{{ build.entry }}" onclick="changeBuild('{{ build.function }}')" data-toggle="pill">{{ build.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                </div>

                <div class="col-md-9">
                    <div class="tab-content">
                        <h3>Build Description</h3>
                        {% for build in site.data.builds %}
                        {% if page.job == build.job %}
                        <div class="tab-pane" id="tab_{{ build.entry }}">
                            {{ build.description }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <hr class="featurette-divider">
                
            <h2 class="featurette-heading">Comments.</h2>
            <div class="row featurette">
                <div class="col-md-12">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'bnstree';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

