.skillGrid {
    height: $appHeight;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    user-select: none;

    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:0.5s;

    table {
        margin: 0 auto;
    }

    .top {
        height: 34rem;

        td {
            vertical-align: bottom;
        }

        .group {
            flex-direction: column;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        }

        .grid {
            flex-direction: column-reverse;
        }
    }

    .bottom {
        height: 34rem;

        td {
            vertical-align: top;
        }

        .group {
            flex-direction: column-reverse;
            background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
        }

        .grid {
            flex-direction: column;
        }
    }

    .primary {
        justify-content: flex-end;
    }

    .block {
        display: flex;
        margin: 0.5rem;
    }

    .group {
        margin: 0 0.3rem;
        display: flex;
        max-height: 34rem;
        justify-content: flex-end;
        border-radius: 0.3rem;
        padding: 0 0.2rem;
        @for $i from 1 through 4 {
            &.width_#{$i} {
                width: $i * 6rem + 0.5rem;
            }
        }
    }

    .grid {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-height: 30rem;
    }

    .groupHeader {
        margin: 0;
        padding: 1rem;
        color: white;
        text-align: center;
    }

    .gridSkill {
        cursor: pointer;
        width: 5.5rem;
        height: 7.5rem;

        &.tree {
            .gridSkillName {
                color: aqua;
            }
        }

        &.disabled {
            .gridSkillName {
                color: #777;
            }

            .gridIcon {
                filter: grayscale(100%);
                opacity: 0.3;
            }
        }

        &:hover {}

        .imgContainer {
            width: 5rem;
            height: 5rem;
            margin: auto;
            overflow: hidden;
            display: flex;
            align-items: center;
            background: black;
            position: relative;

            img {
                width: 5rem;
            }

            .overlay {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
            }

            .pointsOverlay {
                position:absolute;
                background: #333;
                height: 1.4rem;
                width: 1.4rem;
                right: 0;
                bottom: 0;
                color: white;
                text-align: center;
                font-size: 1rem;
            }

            .elements {
                position: absolute;
                top: 0rem;
                right: 0.1rem;

                .element {
                    width: 1.8rem;
                }
            }
        }

        .gridSkillName {
            white-space: nowrap;
            overflow: hidden;
            color: #ddd;
            font-size: 1.1rem;
            margin: 0.2rem 0;
            text-align: center;
            text-overflow: ellipsis;
        }
    }

    .gridTooltip {
        width: 50rem;
    }
}

.gridModal {
    .gridModalBody {
        padding: 0;

        @media(max-width: 991px) {
            overflow: auto;
            .row {
                min-width: calc(200% + 3.2rem);
            }
        }
    }

    .modal-lg {
        @media(min-width: 992px) {
            width: 100rem;
        }
    }

    .treeContainer {
        overflow: auto;
    }
}
