@import 'constants';

.item-tooltip {
	padding-bottom: 1rem;

	& .title {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	& .fuse .badges span {
		display: inline-flex;
		align-items: center;

		& img {
			height: 1.2em;
			margin-right: 0.5rem;
		}

		&.plus {
			margin: 0 0.5rem;
		}
	}
}
