@import 'constants';
@import 'breakpoints';

.container {
	& .page-content {
		padding: 2rem 4rem 10rem;

		@media (--xs-down) {
			padding: 2rem 1rem;
			padding-left: 2rem;
		}
	}
}

.top-nav {
	position: sticky;
	top: 0;
	width: 100%;
	background: linear-gradient(to bottom, var(--black-glass) 0%, transparent 150%) !important;
	padding: 1.5rem 2rem 1rem;
	box-sizing: border-box;
	z-index: 2;

	@media (--xs-down) {
		padding: 1rem;
	}
}
