.background {
    position: fixed;
    background: black;
    overflow: hidden;
    top: -1rem;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80rem;
    max-height: 100vh;
    z-index: 0;
    opacity: 0.9;

    img {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        min-width: 100%;
        min-height: 100%;
        filter: blur(1px);
    }

    .cover {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: 50rem;
        background: linear-gradient(to top, rgb(50, 50, 50) 25%, rgba(0, 0, 0, 0) 100%);
    }
}
